/* zahid khattak id - 0396 starts here */

/* Sell your Car page styling start here */
.sell-car-main-banner {
    background-image: url("../img/sell your car images/banner img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sell-your-cars-carousel-btns {
    width: 20px !important;
    height: 0px !important;
    border-radius: 50%;
    background: #202020 !important;
}

.sellcars-cards-icons {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.sellcars-cards-description {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.sell-yourcar-section {
    background-color: #003e15;
}

.car-sell-apply {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0%;
}

.Sellcars-howitsworks {
    position: absolute;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 20px;
    line-height: 49.98px;
    letter-spacing: 0%;
}

.sell-cars-rightarrow {
    font-size: 4rem;
}

.cars-cards-images {
    width: 130px;
    height: 130px;
}

.sellcars-middle-gray-sctn {
    background-color: #d9d9d9;
}

/* swiper styling starts here */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* swiper styling ends here */

/* Sell your Car page styling start here */

/* About Us page styling start here */

.AboutUs-Smalltext {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0%;

}

.AboutUs-Notifications {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0%;
}

.AboutUs-FormInput {
    border: 1.4px solid #c5c5c6ab !important;
    color: #828282 !important;
}

.AboutUs-FormInput::placeholder {
    color: #828282;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13.48px;
    line-height: 21px;
    letter-spacing: 0%;
}



/* About Us page styling ends here */

/* Query for mobile screens */
@media (min-width: 320px) and (max-width: 768px) {
    .sell-cars-rightarrow {
        transform: rotate(90deg);
    }

    .howitsworks-bg-img {
        width: 100% !important;
    }

    .sell-car-main-banner {
        background-image: none;
        background-color: #e9e9e9;
    }

    .sell-cars-carousel-indicators {
        top: 15rem !important;
    }

    .AboutUs-Titles,.Main-heading-Underline {
        font-size: 30px !important;
    }
    .AboutUS-WhyChooseUS-text{
        font-size: 29px !important;
    }
    .How-We-Work, .How-We-Work > .Main-heading-Underline{
        font-size: 26px !important;
    }
}

/* zahid khattak id - 0396 ends here */